#main {
    height: 100vh;
    background-image: url("./assets/backgrounds/h_img.jpg");
    background-size: cover;
}

#service {
    height: 50vh;
    background-image: url("/assets/backgrounds/s_image.jpg");
    background-size: cover;
    color: white;
}

#Portfolio img {
    max-width: 50vh;
}

#contact {
    background-image: url("./assets/backgrounds/c_image.jpg");
    background-size: cover;
    height: 70vh;
}

.container {
    text-align: center;
}

.designHidden {
    display: none;
}

.developmentHidden {
    display: none;
}

.productManagementHidden {
    display: none;
}